<div class="split-attention-page">
    <h1> Split attention </h1>
    <div class="expe1">
        <div class="panel left"></div>
        <div class="panel right"></div>
    </div>
    <button class="start-split-attention">Start</button>
</div>