@import "../utils/variables.scss";

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    font-size: 18px;
    font-family: 'Quicksand', 'sans-serif';
    color: #555;
    background-color: $pastel-yellow;
}

main {
    margin: 50px auto;
    padding: 50px;
    max-width: 50em;
    border: 2px solid;
    border-radius: 30px;
    background-color: white;
}